body {
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 100vh;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1B4242;
    padding: 10px; 
    text-align: center;
}

nav {
    background-color: #1B4242;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.about img {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
}

.skills ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.skills li {
    background-color: #333;
    padding: 10px 20px;
    margin: 5px; 
    border-radius: 5px;
    text-align: center;
    flex: 1 0 20%;
    max-width: 20%; 
}

.skills li:last-child {
    margin-right: 0;
}


.projects .project {
    text-align: center;
    margin-bottom: 30px;
}

.projects .project img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #1B4242;
    color: #fff;
    text-align: center;
}
section:not(#about) {
    display: none;
}
.contact {
    text-align: center;
}

.contact a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}

.contact a:hover {
    background-color: #555;
}
